APP_NAME=Legatura
APP_ENV=local
APP_KEY=base64:Slb6uZeLYDu+1jwkb21QEM5m9Ee5kagPe1CmlQQ14bw=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=https://legaturaph.com
APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=u942627558_legatura
DB_USERNAME=u942627558_legatura
DB_PASSWORD=Legaturadatabase123@!

BROADCAST_DRIVER=pusher
PUSHER_APP_ID=2112120
PUSHER_APP_KEY=c8539eba4bad9ec5e663
PUSHER_APP_SECRET=a0dfbe909d7bc2291a02
PUSHER_APP_CLUSTER=ap1
PUSHER_PORT=443
PUSHER_SCHEME=https

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null
SESSION_SECURE_COOKIE=true
SESSION_SAME_SITE=lax
SESSION_PARTITIONED_COOKIE=false
SESSION_EXPIRE_ON_CLOSE=false

BROADCAST_CONNECTION=pusher
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=file
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

# MAIL_MAILER=log
# MAIL_HOST=127.0.0.1
# MAIL_PORT=2525
# MAIL_USERNAME=null
# MAIL_PASSWORD=null
# MAIL_ENCRYPTION=null
# MAIL_FROM_ADDRESS="noreply@yourdomain.com"
# MAIL_FROM_NAME="${APP_NAME}"

MAIL_MAILER=smtp
MAIL_HOST=smtp.hostinger.com
MAIL_PORT=587
MAIL_USERNAME=noreply@legaturaph.com
MAIL_PASSWORD=G7r!p4s#VqL9u2Z$
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=noreply@legaturaph.com
MAIL_FROM_NAME="${APP_NAME}"

# Google OAuth Configuration
GOOGLE_CLIENT_ID=1046787614314-7vnatjs9rl0fna6jpfdn8odprjd75kdv.apps.googleusercontent.com
# GOOGLE_CLIENT_SECRET=GOCSPX-YourActualClientSecretHere
# GOOGLE_REFRESH_TOKEN=your-refresh-token

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
